#insitepanel
{
        /*position: absolute;
        left: 0px;
        top: 0px;*/
        width: 240px;
        height: 200px;
        background-color: white;
	visibility: visible;
	z-index: 10000;
}

#insitepanel TABLE.control
{
        border-collapse: collapse;
        //border: 1px solid black; 
}

#insitepanel TD.control
{
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 9pt;
        font-weight: bold;
        color: #6785B7;
}

#insitepanel SPAN.headertext
{
        color: #FFFFFF;
	font-size: 9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
}

TD.control
{
        border-collapse: collapse;
        border: 1px solid #6785B7; 
        font-family: Arial;
}

TR.controlheader
{
        border-collapse: collapse;
        border: 1px solid black; 
}

TD.controlheader
{
        border-collapse: collapse;
        border: 1px solid black; 
}

DIV.control
{
  background: #ffffff;
  color: #6785B7;
}

DIV.insite-inner
{
  position: relative; /* required for dragging  */
  border: 1px solid #808080;
}

DIV.insite-Search
{
  position: relative; /* required for dragging  */
  border: 1px solid #808080;
}

DIV.insite-slot
{
  border: 0px solid #808080;
}


TD.inner-handle-tname
{
  FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
  FONT-SIZE:12px;
}

TD.empty_slot
{
  color: #808080;
  FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
  FONT-SIZE:12px;
  vertical-align: middle; 
  text-align: center;
}

DIV.insite-inner-handle
{
  border-bottom:1px solid #808080;
  background: #f0f0f0;
  color: #808080;
  FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
  FONT-SIZE:12px;
    cursor: move;
    width: 100%;
}

DIV.search
{
  FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
  FONT-SIZE:11px;
}

.tile-row-highlight 
{ 
  background-color: #f0f0ff;
}

.tile-row-normal 
{ 
  background-color: #ffffff;
}

.tabFrame
{
        BORDER: 0;
        HEIGHT: 100px;
        BORDER-TOP: #f0f0ff 2PX SOLID;
        BORDER-BOTTOM: #f0f0ff 2PX SOLID;
        BORDER-LEFT: #f0f0ff 2PX SOLID;
        BORDER-RIGHT: #f0f0ff 2PX SOLID;
}

.tabOff
{
        FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
        FONT-SIZE: 11px;
        FONT-WEIGHT: 700;
        TEXT-ALIGN: CENTER;
        COLOR: #003399;
        BACKGROUND-COLOR: #8181C0;
        BORDER-BOTTOM: #8181C0 1PX SOLID;
        HEIGHT: 25px;
}

.tabOn
{
        FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
        FONT-SIZE: 11px;
        FONT-WEIGHT: 700;
        TEXT-ALIGN: CENTER;
        COLOR: #003399;
        BACKGROUND-COLOR: #f0f0ff;
        BORDER-BOTTOM: #f0f0ff 1PX SOLID;
        HEIGHT: 25px;
}

.ist-image-handle {
	cursor: auto;
}